@model IEnumerable<Telfair_Backend.Classes.Models.PlanModel>;


@{
    Layout = "_Layout";
    ViewData["Title"] = "ViewPlan";

    Layout = "";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SAIMLTD | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">




</head>
<body class="hold-transition login-page">
    @using (Html.BeginForm())
    {
        <div id="x">
            <div id="y">
                <input type="hidden" id="GridHtml" name="GridHtml" />
            </div>
            <div id="Grid">
                <p style="align-content:"><h1>Nursery Weekly Plan</h1></p>
                <table class="table">
                    <tr>
                        <td>
                            Date issued:  @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.ElementAt(0).DateOfIssue))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Group Name: @Html.DisplayFor(modelItem => Model.ElementAt(0).NodeLevelName)
                        </td>
                        <td>
                            Date: @Html.Display("Date")
                        </td>
                        <td>
                            Week: @Html.DisplayFor(modelItem => Model.ElementAt(0).Week)
                        </td>
                        <td>

                            Monday: @Html.DisplayFor(modelItem => Model.ElementAt(0).DateFrom) To Friday: @Html.DisplayFor(modelItem => Model.ElementAt(0).DateTo)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Carers Name: @Html.DisplayFor(modelItem => Model.ElementAt(0).EmployeeNames)
                        </td>
                        <td>
                            Age Group: @Html.DisplayFor(modelItem => Model.ElementAt(0).NodeLevelDescription)
                        </td>
                    </tr>
                </table>


                <table class="table">
                    <tr>
                        <th>
                            Activity
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Objectives
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activities)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Materials)
                        </th>
                        <th>
                            No of Children
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Evaluation
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Aims)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activities)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Materials)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfChildren)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Days)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Evaluation)
                            </td>

                        </tr>
                    }



                </table>
            </div>
            @*<button type="submit" id="btnSubmit" class="btn btn-info">Export</button>
                <button type="button" id="testbtn" class="btn btn-info">test</button>*@
        </div>


    }
</body>









